  <header>
    <button mat-icon-button routerLink="./"
            queryParamsHandling="preserve"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
      <mat-icon class="material-icons-outlined">view_module</mat-icon>
    </button>
    <button mat-icon-button routerLink="./list"
            queryParamsHandling="preserve"
            routerLinkActive="active">
      <mat-icon class="material-icons-outlined">view_stream</mat-icon>
    </button>
   <!-- <div class="filters">
     <mat-form-field floatLabel="never">
        <mat-label>Genre</mat-label>
        <mat-select multiple>
          <mat-option value="test">
            Test
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <mat-label>Rating</mat-label>
        <mat-select>
          <mat-option>All</mat-option>
          <mat-option value="90">90% and above</mat-option>
          <mat-option value="80">80% and above</mat-option>
          <mat-option value="70">70% and above</mat-option>
          <mat-option value="60">60% and above</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <mat-label>Year</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let year of years$ | async" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <mat-label>Language</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let language of languages$ | async" [value]="language.code">
            {{ language.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <mat-label>Tags</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
  </header>
  <div class="animation-container" [@moviesAnimation]="getAnimationData(main)">
    <router-outlet #main="outlet"></router-outlet>
  </div>
