<section>
  <header>
    <h2>Movies</h2>
    <div class="filters">
      <mat-form-field floatLabel="never">
        <mat-label>Genre</mat-label>
        <mat-select>
          <mat-option>-- None --</mat-option>
          <mat-option value="test">
            Test
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <mat-label>Year</mat-label>
        <mat-select>
          <mat-option>-- None --</mat-option>
          <mat-option value="test">
            Test
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <mat-label>Language</mat-label>
        <mat-select>
          <mat-option>-- None --</mat-option>
          <mat-option value="test">
            Test
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <mat-label>Format</mat-label>
        <mat-select>
          <mat-option>-- None --</mat-option>
          <mat-option value="test">
            Test
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button routerLink="./" queryParamsHandling="preserve">
        <mat-icon class="material-icons-outlined">view_module</mat-icon>
      </button>
      <button mat-icon-button routerLink="./list" queryParamsHandling="preserve">
        <mat-icon class="material-icons-outlined">view_stream</mat-icon>
      </button>
    </div>
  </header>
  <div class="animation-container" [@moviesAnimation]="getAnimationData(main)">
    <router-outlet #main="outlet"></router-outlet>
  </div>
</section>
