<mat-list dense>
  <mat-list-item (click)="prev.emit()" class="back">
    <button matListAvatar mat-icon-button (click)="prev.emit(); $event.stopPropagation()" #back>
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h3 matLine>..</h3>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine> Folder 1 </h3>
    <p matLine>
      <span>32 movies</span>
    </p>
    <button mat-icon-button (click)="next.emit()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine> Folder 2 </h3>
    <p matLine>
      <span>32 movies</span>
    </p>
    <button mat-icon-button (click)="next.emit()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine> Folder 3 </h3>
    <p matLine>
      <span>32 movies</span>
    </p>
    <button mat-icon-button (click)="next.emit()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon matListIcon class="material-icons-outlined">
      movie
    </mat-icon>
    <h3 matLine> Movie 1 </h3>
    <p matLine>
      <span>2Go</span>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon class="material-icons-outlined">
      movie
    </mat-icon>
    <h3 matLine> Movie 2 </h3>
    <p matLine>
      <span>2Go</span>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon class="material-icons-outlined">
      movie
    </mat-icon>
    <h3 matLine> Movie 3 </h3>
    <p matLine>
      <span>2Go</span>
    </p>
  </mat-list-item>
</mat-list>
