<section class="top">
  <button mat-icon-button (click)="openSidenav.emit()">
    <mat-icon>{{ 'menu' }}</mat-icon>
  </button>
  <button mat-icon-button class="close">
    <mat-icon>close</mat-icon>
  </button>
</section>

<section class="middle">
  <!--<button mat-icon-button class="next">
    <mat-icon>arrow_right</mat-icon>
  </button>-->
</section>

<section class="bottom">
  <div class="seeker">
    <mat-progress-bar
      *ngIf="loading"
      mode="indeterminate"></mat-progress-bar>
    <mat-slider
      *ngIf="!loading"
      color="primary"
      [step]="1"
      [disabled]="!duration"
      [max]="duration"
      [value]="currentTime"
      (change)="seekTo.emit($event.value)"></mat-slider>
  </div>
  <div class="time">
    <span class="left">{{ currentTime }}</span>
    <span class="right">{{ duration }}</span>
  </div>
  <div class="controls">
    <div class="g1">
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">volume_up</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">speaker_notes</mat-icon>
      </button>
    </div>
    <div class="g2">
      <button mat-icon-button class="md-36" (click)="seekBackward.emit()">
        <mat-icon class="material-icons-outlined">replay_10</mat-icon>
      </button>
      <button mat-icon-button
              class="playPause md-48"
              [disabled]="false"
              (click)="playing ? pause.emit() : resume.emit()">
        <mat-icon class="material-icons-outlined">{{ playing ? 'pause' : 'play_arrow' }}</mat-icon>
      </button>
      <button mat-icon-button class="md-36" (click)="seekForward.emit()">
        <mat-icon class="material-icons-outlined">forward_30</mat-icon>
      </button>
    </div>
    <div class="g3">
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">fullscreen</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
      </button>
    </div>
  </div>
</section>
