<header>
  <h2>Settings</h2>
</header>
<mat-divider></mat-divider>
<section class="settings">
  <h3>Themes</h3>
  <section class="themes">
    <div class="theme"></div>
    <div class="theme"></div>
    <div class="theme"></div>
    <div class="theme"></div>
  </section>
  <mat-divider></mat-divider>

  <h3>Sidenav</h3>
  <section class="sidenav">
    <mat-form-field>
      <mat-label>Mode</mat-label>
      <mat-select [value]="sidenavMode$ | async" (selectionChange)="setSidenavMode($event.value)">
        <mat-option value="side">Side</mat-option>
        <mat-option value="push">Push</mat-option>
        <mat-option value="over">Over</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Size</mat-label>
      <mat-select value="wide">
        <mat-option value="narrow">Narrow</mat-option>
        <mat-option value="wide">Wide</mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <mat-divider></mat-divider>

  <h3>Libraries</h3>
  <section class="library">
    <mat-form-field class="name">
      <mat-label>Name</mat-label>
      <input matInput value="Movies" disabled spellcheck="false"/>
    </mat-form-field>
    <mat-form-field class="path">
      <mat-label>Path</mat-label>
      <input matInput value="D:\Vidéos" disabled spellcheck="false"/>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </section>
  <section class="library">
    <mat-form-field class="name">
      <mat-label>Name</mat-label>
      <input matInput value="TV Shows" disabled spellcheck="false"/>
    </mat-form-field>
    <mat-form-field class="path">
      <mat-label>Path</mat-label>
      <input matInput value="D:\Vidéos2" disabled spellcheck="false"/>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <section class="library-add">
    <mat-form-field class="name" floatLabel="always">
      <mat-label>Name</mat-label>
      <input matInput value="" spellcheck="false" placeholder="Display name"/>
    </mat-form-field>
    <mat-form-field class="path" floatLabel="always">
      <mat-label>Path</mat-label>
      <input matInput value="" spellcheck="false" placeholder="Absolute path"/>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </section>
  <mat-divider></mat-divider>

  <h3>Media types</h3>
  <section class="media-type">
    <mat-form-field class="content-type">
      <mat-label>Content-Type</mat-label>
      <input matInput value="video/x-mastroka" spellcheck="false" disabled/>
    </mat-form-field>
    <mat-form-field class="extensions">
      <mat-label>Extensions</mat-label>
      <input matInput value="mkv" spellcheck="false" disabled/>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <section class="media-type">
    <mat-form-field class="content-type" floatLabel="always">
      <mat-label>Content-Type</mat-label>
      <input matInput value="" spellcheck="false" placeholder="Content-Type header"/>
    </mat-form-field>
    <mat-form-field class="extensions" floatLabel="always">
      <mat-label>Extensions</mat-label>
      <input matInput value="" spellcheck="false" placeholder="Comma-separated list of extensions"/>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </section>
</section>
