<header>
  <h2>Settings</h2>
</header>
<mat-divider></mat-divider>
<section class="settings">
  <h3>Themes</h3>
  <section class="themes">
    <ng-container *ngFor="let theme of allThemes">
      <button mat-icon-button class="theme" [style]="getThemeStyle(theme)" (click)="changeTheme(theme)">
        <mat-icon *ngIf="(theme$ | async) === theme">done</mat-icon>
      </button>
    </ng-container>
  </section>
  <mat-divider></mat-divider>

  <h3>Sidenav</h3>
  <section class="sidenav">
    <mat-form-field appearance="standard">
      <mat-label>Mode</mat-label>
      <mat-select [value]="sidenavMode$ | async" (selectionChange)="setSidenavMode($event.value)">
        <mat-option value="side">Side</mat-option>
        <mat-option value="push">Push</mat-option>
        <mat-option value="over">Over</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Size</mat-label>
      <mat-select [value]="sidenavSize$ | async" (selectionChange)="setSidenavSize($event.value)">
        <mat-option value="narrow">Narrow</mat-option>
        <mat-option value="wide">Wide</mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <mat-divider></mat-divider>

  <h3>Libraries</h3>
  <section class="library" *ngFor="let library of libraries$ | async">
    <mat-form-field class="name" appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput [value]="library.name" disabled spellcheck="false"/>
    </mat-form-field>
    <mat-form-field class="path" appearance="standard">
      <mat-label>Path</mat-label>
      <input matInput [value]="library.path" disabled spellcheck="false"/>
    </mat-form-field>
    <button mat-icon-button (click)="removeLibrary(library.name)">
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <form (ngSubmit)="addLibrary()" class="library-form" [formGroup]="libraryForm" autocomplete="off">
    <mat-form-field class="name" floatLabel="always" appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput spellcheck="false" placeholder="Display name" formControlName="name" required />
      <mat-hint>Display name of the library</mat-hint>
      <mat-error *ngIf="libraryForm.controls.name.invalid">{{ getLibraryNameErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="path" floatLabel="always" appearance="standard">
      <mat-label>Path</mat-label>
      <input matInput spellcheck="false" placeholder="Path to folder" formControlName="path" required/>
      <mat-error *ngIf="libraryForm.controls.path.invalid">A value is required</mat-error>
      <mat-hint>Path must be absolute, existing, and readable</mat-hint>
    </mat-form-field>
    <button type="submit" mat-icon-button [disabled]="!libraryForm.valid" *ngIf="!(librariesAdding$ | async)">
      <mat-icon>add</mat-icon>
    </button>
    <div class="spinner" *ngIf="librariesAdding$ | async">
      <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner>
    </div>
  </form>

  <p class="library-error" *ngIf="librariesError$ | async">
    {{ librariesError$ | async }}
  </p>
  <mat-divider></mat-divider>

  <h3>Media types</h3>
  <section class="media-type" *ngFor="let mediaType of mediaTypes$ | async">
    <mat-form-field class="content-type" appearance="standard">
      <mat-label>Content-Type</mat-label>
      <input matInput value="video/{{ mediaType.subType }}" spellcheck="false" disabled/>
    </mat-form-field>
    <mat-form-field class="extensions" appearance="standard">
      <mat-label>Extensions</mat-label>
      <input matInput [value]="getExtensionsString(mediaType)" spellcheck="false" disabled/>
    </mat-form-field>
    <button mat-icon-button (click)="removeMediaType(mediaType.subType)">
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <form class="media-type-form" (ngSubmit)="addMediaType()" [formGroup]="mediaTypeForm" autocomplete="off">
    <mat-form-field class="content-type" floatLabel="always" appearance="standard">
      <mat-label>Content-Type</mat-label>
      <input matInput spellcheck="false" placeholder="Content-Type header" formControlName="contentType" required/>
      <mat-hint>Header served by the server</mat-hint>
      <mat-error *ngIf="mediaTypeForm.controls.contentType.invalid">{{ getContentTypeErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="extensions" floatLabel="always" appearance="standard">
      <mat-label>Extensions</mat-label>
      <input matInput spellcheck="false" placeholder="File extensions" formControlName="extensions" required/>
      <mat-hint>Comma-separated list of file extensions</mat-hint>
      <mat-error *ngIf="mediaTypeForm.controls.extensions.invalid">A value is required</mat-error>
    </mat-form-field>
    <button mat-icon-button [disabled]="!mediaTypeForm.valid" *ngIf="!(mediaTypesAdding$ | async)">
      <mat-icon>add</mat-icon>
    </button>
    <div class="spinner" *ngIf="mediaTypesAdding$ | async">
      <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner>
    </div>
  </form>

  <p class="media-type-error" *ngIf="mediaTypesError$ | async">
    {{ mediaTypesError$ | async }}
  </p>
</section>
