@import '~@angular/material/theming';

@mixin components-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-sidenav {
    > nav {
      background-color: mat-color($background, app-bar);
    }
    .active {
      color: mat-color($primary);
    }
  }

  app-about {
    a {
      color: mat-color($accent);
    }
  }

  app-search {
    .accent {
      color: mat-color($accent);
    }
  }

  app-main {
    a {
      color: mat-color($foreground, text);
      border-color: mat-color($foreground, divider) !important;
    }
  }

  app-library {
    .path, .subtext {
      color: mat-color($foreground, secondary-text);
    }
  }

  app-settings {
    input[disabled] {
      color: mat-color($foreground, text) !important;
    }
  }

  app-library-creation-dialog {
    .library-type {
      border-color: mat-color($foreground, divider) !important;
    }
    .library-type:hover {
      background-color: mat-color($background, hover);
    }
  }


}
