@import '~@angular/material/theming';

@mixin components-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  mat-sidenav {
    @include mat-elevation(2);
  }

  app-sidenav {
    > nav {
      background-color: mat-color($background, app-bar);
    }
    .active {
      color: mat-color($primary);
    }
  }

  app-about {
    a {
      color: mat-color($accent);
    }
  }

  app-search {
    .accent {
      color: mat-color($accent);
    }
    .subtext {
      color: mat-color($foreground, secondary-text);
    }
  }

  app-main {
    > header {
      @include mat-elevation(2);
      background-color: mat-color($background, app-bar);
      a {
        color: mat-color($foreground, text);
        border-color: mat-color($foreground, disabled) !important;
      }
      a.active {
        color: mat-color($primary);
      }
    }
  }

  app-filters {
    input {
      @include cdk-text-field-autofill-color(transparent, mat-color($foreground, text))
    }
  }

  app-library {
    .path, .subtext {
      color: mat-color($foreground, secondary-text);
    }
  }

  app-libraries-view {
    .subtext {
      color: mat-color($foreground, secondary-text);
    }
  }

  app-settings {
    input[disabled] {
      color: mat-color($foreground, text) !important;
    }
  }

  app-library-creation-dialog {
    .library-type:hover {
      background-color: mat-color($background, hover);
    }
    input {
      @include cdk-text-field-autofill-color(transparent, mat-color($foreground, text))
    }
  }

  app-video-list, app-movies-grid {
    .poster {
      background-color: mat-color($background, card);
      @include mat-elevation(2);
    }
    .item:hover .poster, .item:focus .poster {
      @include mat-elevation(8);
    }
    .item:focus .poster {
      outline-color: mat-color($primary) !important;
    }
  }

  app-movies {
    button.active {
      color: mat-color($primary);
    }
  }

  app-movie, app-show {
    .filter {
      background-color: mat-color($background, background, 0.85);
    }
    img {
      @include mat-elevation(4);
    }
    .year {
      color: mat-color($foreground, disabled-text);
    }
    .tabs {
      border-color: mat-color($foreground, divider) !important;
    }
    .tab {
      color: mat-color($foreground, secondary-text);
    }
    .tab.selected {
      color: mat-color($foreground, text);
      border-color: mat-color($primary) !important;
    }
    .people {
      @include mat-elevation(4);
    }
    .profile {
      background-color: mat-color($background, card);
    }
    .profile mat-icon {
      color: mat-color($foreground, disabled-text);
    }
    .name {
      background-color: mat-color($background, background);
    }
    .play:focus {
      background-color: mat-color($accent);
    }
  }

  app-movie-details {
    .loading-movie {
      background-color: mat-color($background, background);
    }
  }


}
