@import '~@angular/material/theming';

@mixin components-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  *:focus {
    outline-color: mat-color($accent) !important;
  }

  mat-sidenav {
    @include mat-elevation(4);
  }

  app-sidenav {
    > nav {
      background-color: mat-color($background, app-bar);
    }
    .active {
      color: mat-color($primary);
    }
  }

  app-about {
    a {
      color: mat-color($accent);
    }
  }

  app-search {
    .accent {
      color: mat-color($accent);
    }
    .subtext {
      color: mat-color($foreground, secondary-text);
    }
  }

  app-main {
    > header {
      @include mat-elevation(3);
      background-color: mat-color($background, app-bar);
      a {
        color: mat-color($foreground, text);
        border-color: mat-color($foreground, disabled) !important;
      }
      a.active {
        color: mat-color($primary);
      }
    }
  }

  app-filters-movies, app-filters-shows {
    input {
      @include cdk-text-field-autofill-color(transparent, mat-color($foreground, text))
    }
  }

  app-library {
    .path, .subtext {
      color: mat-color($foreground, secondary-text);
    }
  }

  app-libraries-view {
    .subtext {
      color: mat-color($foreground, secondary-text);
    }
  }

  app-settings {
    input[disabled] {
      color: mat-color($foreground, text) !important;
    }
  }

  app-library-creation-dialog {
    .library-type:hover {
      background-color: mat-color($background, hover);
    }
    input {
      @include cdk-text-field-autofill-color(transparent, mat-color($foreground, text))
    }
  }

  app-video-list, app-movies, app-shows {
    .poster {
      background-color: mat-color($background, card);
      @include mat-elevation(2);
    }
    .item:hover .poster, .item:focus .poster {
      @include mat-elevation(8);
    }
    .item:focus .poster {
      outline-color: mat-color($primary) !important;
    }
  }

  app-details {
    .details {
      background-color: mat-color($background, background);
    }
  }

  app-movie, app-show {
    .container {
      background-color: mat-color($background, background);
    }
    .filter {
      background-color: mat-color($background, background, 0.85);
    }
    img {
      @include mat-elevation(4);
    }
    .year {
      color: mat-color($foreground, disabled-text);
    }
    .tabs {
      border-color: mat-color($foreground, divider) !important;
    }
    .tab {
      color: mat-color($foreground, secondary-text);
    }
    .tab.disabled {
      color: mat-color($foreground, disabled-text);
    }
    .tab:hover, .tab:focus {
      border-color: mat-color($foreground, text) !important;
    }
    .tab.selected {
      color: mat-color($foreground, text);
      border-color: mat-color($primary) !important;
    }
    .people {
      @include mat-elevation(4);
    }
    .profile {
      background-color: mat-color($background, card);
    }
    .profile mat-icon {
      color: mat-color($foreground, disabled-text);
    }
    .name {
      background-color: mat-color($background, background);
    }
    .play:focus {
      background-color: mat-color($accent);
    }
    .loading {
      color: mat-color($foreground, disabled-text);
    }
  }

  app-episode {
    .no-still {
      @include mat-elevation(4);
      background-color: mat-color($background, card);
    }
  }

  app-overview {
    p::-webkit-scrollbar-thumb {
      background-color: mat-color($foreground, disabled-button, 0.15);
    }
    p:hover::-webkit-scrollbar-thumb {
      background-color: mat-color($foreground, disabled-button, 0.3);
    }
  }

  app-loading-bar {
    .mat-progress-bar-buffer {
      background-color: mat-color($background, card) !important;
    }
    .mat-progress-bar-fill::after {
      background-color: mat-color($foreground, divider, 0.05) !important;
    }
  }

  app-file-selection {
    .size {
      color: mat-color($foreground, secondary-text);
    }
    .file:focus, .file:focus .size {
      color: mat-color($primary) !important;
    }
  }

}
