<video #video
  autoplay
  [src]="src$ | async"
  [volume]="volume$ | async"
  [currentTime]="currentTime"
  (play)="onPlay()"
  (playing)="onPlaying()"
  (pause)="onPause()"
  (ended)="onEnded()"
  (canplay)="onCanPlay()"
  (canplaythrough)="onCanPlayThrough()"
  (loadedmetadata)="onLoadedMetadata($event)"
  (timeupdate)="onTimeUpdate($event)"
  (waiting)="onWaiting()"
  (error)="onError($event)">
</video>

<app-controls
  [playing]="playing$ | async"
  [currentTime]="currentTime$ | async"
  [duration]="duration$ | async"
  [loading]="loading$ | async"
  (seekTo)="seekTo($event)"
  (openSidenav)="openSidenav()"
  (resume)="play()"
  (pause)="pause()"
  (seekForward)="seekForward()"
  (seekBackward)="seekBackward()">
</app-controls>
