section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  height: 255px; /* 450 */
  min-width: 170px; /* 300 */
  margin-right: 32px;
  margin-bottom: 75px;
  box-sizing: border-box;
  transition-property: transform;
  transition: 300ms ease;
  background-size: cover;
}

.item:hover, .item:focus {
  transform: scale(1.3);
  z-index: 1;
}
