:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header {
  height: 59px;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}

h2 {
  margin: 0 1.25rem 0 0;
  font-size: 18px;
  font-weight: 500;
}

.search-container {
  height: 59px;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}

cdk-virtual-scroll-viewport {
  flex-grow: 1;
}

mat-form-field {
  flex-grow: 1;
  margin: 0 1.25rem 0 0;
  height: 59px;
}

.close {
  font-size: 16px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.results {
  min-width: 70px;
  text-align: right;
  font-size: 14px;
}

mat-action-list[dense] {
  padding: 0;
}

.subtext {
  margin-top: 0.25rem !important;
  font-size: 11px !important;
  color: rgba(255,255,255,0.7);
}
