<h3>Themes</h3>
<section class="themes">
  <ng-container *ngFor="let theme of allThemes">
    <button mat-icon-button class="theme" [style]="getThemeStyle(theme)" (click)="changeTheme(theme)">
      <mat-icon *ngIf="(theme$ | async) === theme">done</mat-icon>
    </button>
  </ng-container>
</section>

<mat-divider></mat-divider>

<h3>Sidenav</h3>
<section class="sidenav">
  <mat-form-field>
    <mat-label>Mode</mat-label>
    <mat-select [value]="sidenavMode$ | async" (selectionChange)="setSidenavMode($event.value)">
      <mat-option value="side">Side</mat-option>
      <mat-option value="push">Push</mat-option>
      <mat-option value="over">Over</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Width</mat-label>
    <mat-select [value]="sidenavWidth$ | async" (selectionChange)="setSidenavSize($event.value)">
      <!--<mat-option value="narrow">Narrow</mat-option>-->
      <mat-option value="normal">Normal</mat-option>
      <mat-option value="wide">Wide</mat-option>
    </mat-select>
  </mat-form-field>
</section>

