<div class="container" [ngClass]="themeCssClass$ | async">
  <mat-sidenav-container>
    <mat-sidenav #sidenav
        [mode]="sidenavMode$ | async"
        [ngClass]="sidenavWidth$ | async"
        [opened]="showSidenav$ | async"
        [cdkTrapFocus]="showSidenav$ | async">
      <app-sidenav (closeSidenav)="closeSidenav()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content [@playerAnimation]="getAnimationData(player)">
      <app-main></app-main>
      <router-outlet name="player" #player="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
