<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" (openedStart)="sideNavOpening = true" (closed)="sideNavOpening = false" [(opened)]="sideNavOpened">
    <app-drawer></app-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-video></app-video>
    <app-controls
      [sideNavOpening]="sideNavOpening"
      [playing]="playing$ | async"
      [currentTime]="currentTime$ | async"
      [duration]="duration$ | async"
      [loading]="loading$ | async"
      (seekTo)="seekTo($event)"
      (sidenavToggle)="sidenav.toggle()"
      (resume)="play()"
      (pause)="pause()"
      (seekForward)="seekForward()"
      (seekBackward)="seekBackward()">
    </app-controls>
  </mat-sidenav-content>
</mat-sidenav-container>
