\:host
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.container
  height: 100%

mat-sidenav-container
  height: 100%

mat-sidenav
  width: 400px

mat-sidenav.normal
  width: 600px

mat-sidenav.wide
  width: 800px

mat-sidenav-content
  position: relative
