<button mat-icon-button (click)="prev()" class="button prev" [disabled]="translation === 0">
  <mat-icon>arrow_left</mat-icon>
</button>

<section #section [style]="getTranslation()">
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
  <div class="item" tabindex="0"></div>
</section>

<button mat-icon-button (click)="next()" class="button next" [disabled]="isDisabledNext()">
  <mat-icon>arrow_right</mat-icon>
</button>
