.mat-drawer-inner-container
  //overflow: visible !important

button.mat-list-avatar.mat-icon-button
  position: relative
  left: -4px
  margin-right: -8px

.material-icons.md-18
  font-size: 18px
button.md-24
  mat-icon
    font-size: 24px
button.md-36
  height: 46px
  width: 46px
  mat-icon
    line-height: 36px !important
    font-size: 36px
    height: 36px
    width: 36px
button.md-48
  height: 54px
  width: 54px
  mat-icon
    line-height: 48px !important
    font-size: 48px
    height: 48px
    width: 48px
