@import '~@angular/material/_theming.scss';

$typo: mat-typography-config($font-family: 'Roboto, sans-serif');

@include mat-core($typo);

// https://material.io/tools/color

$light-theme: mat-light-theme(
    mat-palette($mat-blue, 600, 100, 900),
    mat-palette($mat-orange),
    mat-palette($mat-deep-orange, A200)
);

$dark-theme: mat-dark-theme(
    mat-palette($mat-light-green),
    mat-palette($mat-light-blue),
    mat-palette($mat-deep-orange, A200)
);

$blue-theme:  (
  primary: mat-palette($mat-orange, 600),
  accent: mat-palette($mat-light-blue),
  warn: mat-palette($mat-red),
  is-dark: true,
  foreground: (
    base:              white,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba(white, 0.3),
    disabled-text:     $light-disabled-text,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-secondary-text,
    icon:              white,
    icons:             white,
    text:              white,
    slider-min:        white,
    slider-off:        rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
  ),
  background: (
    status-bar: black,
    app-bar:    map_get($mat-blue-grey, 900),
    background: map_get($mat-blue-grey, 800),
    hover:      rgba(white, 0.04),
    card:       map_get($mat-blue-grey, 700),
    dialog:     map_get($mat-blue-grey, 700),
    disabled-button: rgba(white, 0.12),
    raised-button: map-get($mat-blue-grey, 800),
    focused-button: $light-focused,
    selected-button: map_get($mat-blue-grey, 900),
    selected-disabled-button: map_get($mat-blue-grey, 800),
    disabled-button-toggle: black,
    unselected-chip: map_get($mat-blue-grey, 700),
    disabled-list-option: black,
  ),
);

$pink-theme:  (
  primary: mat-palette($mat-pink),
  accent: mat-palette($mat-light-blue),
  warn: mat-palette($mat-red),
  is-dark: false,
  foreground: (
    base:              black,
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba(black, 0.26),
    disabled-text:     $dark-disabled-text,
    hint-text:         $dark-disabled-text,
    secondary-text:    $dark-secondary-text,
    icon:              rgba(black, 0.54),
    icons:             rgba(black, 0.54),
    text:              rgba(black, 0.87),
    slider-min:        rgba(black, 0.87),
    slider-off:        rgba(black, 0.26),
    slider-off-active: rgba(black, 0.38),
  ),
  background: (
    status-bar: map_get($mat-pink, 300),
    app-bar:    map_get($mat-pink, 100),
    background: map_get($mat-pink, 50),
    hover:      rgba(black, 0.04),
    card:       white,
    dialog:     white,
    disabled-button: rgba(black, 0.12),
    raised-button: white,
    focused-button: $dark-focused,
    selected-button: map_get($mat-pink, 300),
    selected-disabled-button: map_get($mat-pink, 400),
    disabled-button-toggle: map_get($mat-pink, 200),
    unselected-chip: map_get($mat-pink, 200),
    disabled-list-option: map_get($mat-pink, 200),
  ),
);

@import 'app/components/components.theme';

@mixin custom-components-theme($theme) {
  @include components-theme($theme);
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}
.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}
.blue-theme {
   @include angular-material-theme($blue-theme);
   @include custom-components-theme($blue-theme);
 }
.pink-theme {
  @include angular-material-theme($pink-theme);
  @include custom-components-theme($pink-theme);
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

h2, h3, h4 {
  font-weight: 500;
}

.accent {
  color: chartreuse;
}

button.md-36 {
  height: 46px;
  width: 46px;
  mat-icon {
    line-height: 36px !important;
    font-size: 36px;
    height: 36px;
    width: 36px;
  }
}

button.md-48 {
  height: 54px;
  width: 54px;
  mat-icon {
    line-height: 48px !important;
    font-size: 48px;
    height: 48px;
    width: 48px;
  }
}
.mat-slider-track-background {
  background-color: rgba(255,255,255,.38);
}

.cdk-focused .mat-slider-track-background, .mat-slider:hover .mat-slider-track-background {
  background-color: rgba(255,255,255,.48);
}

// Fix for cdk virtual scroll wrapper
.cdk-virtual-scroll-content-wrapper {
  width: 100%;
}
