@import '~@angular/material/_theming.scss';

$typo: mat-typography-config($font-family: 'Roboto, sans-serif');

@include mat-core($typo);

$light-theme: mat-light-theme(
    mat-palette($mat-blue, 600, 100, 900),
    mat-palette($mat-orange),
    mat-palette($mat-deep-orange, A200)
);

$dark-theme: mat-dark-theme(
    mat-palette($mat-light-green),
    mat-palette($mat-light-blue),
    mat-palette($mat-deep-orange, A200)
);

//@import 'app/settings/settings.theme';

@mixin custom-components-theme($theme) {
  //@include settings-theme($theme);
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}
.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

body {
  font-family: Roboto, sans-serif;
}

button.md-36 {
  height: 46px;
  width: 46px;
  mat-icon {
    line-height: 36px !important;
    font-size: 36px;
    height: 36px;
    width: 36px;
  }
}

button.md-48 {
  height: 54px;
  width: 54px;
  mat-icon {
    line-height: 48px !important;
    font-size: 48px;
    height: 48px;
    width: 48px;
  }
}
.mat-slider-track-background {
  background-color: rgba(255,255,255,.38);
}

.cdk-focused .mat-slider-track-background, .mat-slider:hover .mat-slider-track-background {
  background-color: rgba(255,255,255,.48);
}

// Fix for cdk virtual scroll wrapper
.cdk-virtual-scroll-content-wrapper {
  width: 100%;
}
