:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.container {
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container:focus {
  outline: none;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.movie, .show {
  display: block;
  box-sizing: border-box;
  max-width: 1360px;
  padding: 60px;
  min-width: 100%;
}
@media (min-width: 1360px) {
  .movie, .show {
    min-width: 1360px;
  }
}
.poster {
  float: left;
  width: 300px;
  min-height: 465px;
  margin-right: 30px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.title {
  font-size: 3rem;
  margin: 0 0 5px 0;
  font-weight: 700;
  height: 60px;
}
.year {
  font-size: 1.5rem;
  font-weight: 400;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  margin-bottom: 15px;
}
.score {
  position: relative;
}
.score span {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-score {
  display: inline-block;
  width: 2.4rem;
  font-size: 14px;
  font-weight: 700;
  margin-left: 0.5rem;
}
.play {
  padding-left: 0.6rem;
  margin-left: 2rem;
}
app-overview {
  margin-bottom: 15px;
}
app-tabs {
  margin-bottom: 11px;
}
app-tabs a {
  min-width: 120px;
}
a.search {
  cursor: pointer;
}
a.search:hover {
  text-decoration: underline;
}
